/*hola*/
/*usando class*/
body{
	margin: 0;
}
.azul{
	background-color: blue;
}
/*cambiando colores a las etiquetas*/
h1,h2,p{
	color:black;
}
/* le sacamos la linea al enlace*/
a{
	color:white;
	text-decoration: none;
}
/*USANDO ID*/
#titulo{
	background-color: red;
}
/*Llamando al li siguiente del primero*/
li:first-of-type + li{
	color:white;
}
/*llamando al primer hijo de ol*/
ol li:first-child{
	color:green;
}
/*llamando al ultimo hijo de ol*/
li:last-child{
	color:yellow;
}
.caja{
	background-color: #FACC2E;
	padding: 1em;
	border: 1em black double ;
}

.caja2{
	background-color: #04B486;
	padding: 1em;
	margin-top: 1em;
	border: 1em black double;

}

.caja2 h2{
   text-align: center;
}

.caja3{
	background: olive;
	padding:  1em;
	margin-top: 1em;
	border: 1em black double;
}

